/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
    margin:0;
    padding:0;
    font-size: inherit ;
}

body {
    background-color: rgb(232, 245, 255);
    font-size: 32px;
}

/* eerste page*/

#blurbackground {
    position:relative;
    width:1000px ;
    height: 600px ;
    margin: 20px auto;  
    background-image: url(../images/blurbackground2.jpg);
    background-size: 1000px 600px;
}

button {
background: none;
border: none;
}

button:focus {
    border: none;
    outline: none;
}

#startButton p {
    color: black;
    font-size: 25px;
}

#startButton {
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 44%;
    outline: olivedrab;
    border: 10px;
}

a {
    text-decoration: none;
}

#eveeButton img{
    height: auto;
    width: 320px;
    margin-left: 130px;
}

#pikachuButton img{
    height: auto;
    width: 320px;
    margin-left: 50px;
}
.klein {
    transform: scale(1);
}
.large {
    transform: scale(1.2);
}

#starterposition {
   position: absolute;
   top: 150px;
}

.ondertiteling {
    background: rgba(0, 0, 0, 0.5);
    padding: 27px 570px 27px 15px;
    border-radius: 16px;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19.8px;
}


/* campside*/
.backgroundday {
    position:relative;
    width:1000px ;
    height: 600px ;
    margin: 20px auto;  
    background-image: url(../images/daybackground.jpg);
    background-size: 1000px 600px;
    transition: background-image 0.2s ease-in-out;
}

.dark {
    position:relative;
    width:1000px ;
    height: 600px ;
    margin: 20px auto;  
    background-image: url(../images/nightBackground.jpg);
    background-size: 1000px 600px;

}

#zapdos {
    position: absolute;
    width: 300px;
    top: 120px;
    left: 60%;
    z-index: 1;
}

#catch {
    position: absolute;
    width: 80px;
    top: 80%;
    left: 70%;
    z-index: 1;
}


.topIcon img:nth-child(1) {
    height: 35px;
    width: 35px;
    margin-right: 320px;
    margin-top: 5px;
}

.topIcon img:nth-child(2) {
    height: 60px;
    width: 140px;
    margin-right: 5px;
}

.topIcon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start
}

/* healthbar*/
.hp {
    text-align: center;
    margin-top: 230px;
    margin-left: 80px;
    z-index: 1;
    transition:  0.2s ease-in-out;
  }
  
  .gage {
    display: inline-block;
    width: 300px;
  }
  
  .bar {
    height: 24px;
    position: relative;
    background: rgb(0, 0, 0);
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  
  .bar>span {
    display: block;
    height: 100%;
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  

  #health.barRed {
    background-color: #ff0000;
  }

  #health.barOrange {
    background-color: orange;
  }
  #health.barGreen {
    background-color:#00FF00;
  }
  
  #health {
    font-size: 20px;
    color:black;
    font-weight: bold;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 2px;
    width: 100%;
    background-color: #00FF00;
  }

  .body {
    filter: grayscale(100%);
    transition: 0.2s ease-in-out;
  }

  #fainted {
      position: absolute;
      top: 100px;
      left: 370px;
      z-index: 2;
  }
  
  #fainted img{
    width: 300px;
}

  #moneyCurrency {
      position: absolute;
      right: 16px;
      top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 33px;
  }

/* clock*/
#clock {
    font-family: 'Orbitron', sans-serif;
    color:black;
    font-size: 22px;
    text-align: left;
    position: absolute;
    margin: -35px 0 0 47px;
    font-weight: bold;
    background-color: white;
    padding: 3px ;
  }

  #helft1 {
      position: absolute;
      height: auto;
      width: 60px;
      top:0px;
      left: 5px;
  }

  #helft2 {
    position: absolute;
    height: auto;
    width: 60px;
    top:0px;
    left: 195px;
}

#tent img{
    height: auto;
    width: 420px;
    position: absolute;
    bottom: 65px;
    left: 0px;
}

#picnic img{
    height: auto;
    width: 300px;
    position: absolute;
    bottom: 0;
    
}

#pikachu img{ 
    height: auto;
    width: 170px;
    position:absolute;
    right: 350px;
    bottom: 50px; 
    transition:  0.2s ease-in-out;
}

/* class to trigger jump animation on element */
.spring{
    animation: jump 0.5s forwards;
}

/* keyframes for jump animation */
@keyframes jump{
  0%   { transform: translateY(0) rotate(0deg) }
  40% { transform: translateY(-15vh) rotate(180deg) }
  100% { transform: translateY(0) rotate(360deg) }
}


#buttons_left img {
    height: auto;
    width: 120px;
}

#buttons_left {
    position:absolute;
    right: 6px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

/* POKECENTER*/
#backPokeCenter {
    position:relative;
    width:1000px ;
    height: 600px ;
    margin: 20px auto;  
    background-image: url(../images/pokeCenterBackground.jpg);
    background-size: 1000px 600px;
}

#pageBack img {
    width: 60px;
    margin: 10px;
}

#topIconPC img {
    height: 60px;
    width: 140px;
    position: absolute;
    right: 5px;
}

#normalPokemons img {
    width: 165px;
    margin: -55px 15px 0 0 ;
}

#normalPokemons #eveee {
    margin-left: 225px;
}
#normalPokemons #prinplup{
    width: 190px;
}
#normalPokemons #goodra {
    width: 150px;
}


#gyarados{
    margin: 40px 30px 0 225px;
    width: 150px;
}
#mew {
    width: 100px;
    margin-left: 55px;
}



.ondertitelingPC {
    background: rgba(0, 0, 0, 0.5);
    padding: 27px 385px 27px 15px;
    border-radius: 16px;
    position: absolute;
    left: 20px;
    bottom: 10px;
}